n8n/fraudshield_n8n_v2.json
{
  "name": "FraudShield — Enhanced Incident Response v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fraudshield",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "FraudShield Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "fraudshield-main"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst now  = new Date().toISOString();\nconst tierColors = { CRITICAL: '#dc3545', HIGH: '#fd7e14', MEDIUM: '#ffc107', LOW: '#28a745' };\nreturn [{ json: {\n  incident_id:       `FS-${Date.now()}`,\n  logged_at:         now,\n  tier:              body.tier              || 'UNKNOWN',\n  risk_score:        body.risk_score        || 0,\n  verdict:           body.verdict           || 'UNKNOWN',\n  outlook_action:    body.outlook_action    || 'REVIEW',\n  prediction_id:     body.prediction_id     || null,\n  ai_generated_prob: body.ai_generated_probability || 0,\n  roberta_prob:      body.roberta_phishing_prob     || 0,\n  top_indicators:    body.top_indicators    || [],\n  header_flags:      body.header_flags      || [],\n  injection_score:   body.injection_score   || 0,\n  email_preview:     body.email_preview     || '',\n  source:            body.source            || 'outlook_plugin',\n  tier_color:        tierColors[body.tier]  || '#888888',\n  requires_approval: body.tier === 'CRITICAL',\n  raw:               body\n}}];"
      },
      "id": "node-enrich",
      "name": "Enrich Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-risk", "leftValue": "={{ $json.risk_score }}", "rightValue": 30, "operator": { "type": "number", "operation": "gte" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-risk",
      "name": "Risk >= 30?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { status: 'logged_quietly', incident_id: d.incident_id, tier: d.tier, risk_score: d.risk_score } }];"
      },
      "id": "node-log-low",
      "name": "Log Quietly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 460]
    },
    {
      "parameters": {
        "jsCode": "const incident = $input.first().json;\nconst now = new Date().toISOString();\nlet llmSummary = `Automated analysis: ${incident.tier} threat detected with score ${incident.risk_score}/100. Verdict: ${incident.verdict}. Immediate human review recommended.`;\ntry {\n  const prompt = `You are a senior fraud analyst at Barclays. Risk Score: ${incident.risk_score}/100. Tier: ${incident.tier}. Verdict: ${incident.verdict}. Top Indicators: ${(incident.top_indicators||[]).join(', ')}. Write a 2-sentence professional incident summary.`;\n  const resp = await fetch('http://localhost:11434/api/generate', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ model: 'llama3', prompt, stream: false }), signal: AbortSignal.timeout(8000) });\n  if (resp.ok) { const data = await resp.json(); if (data.response) llmSummary = data.response.trim(); }\n} catch(e) {}\nreturn [{ json: { ...incident, llm_summary: llmSummary, audit_trail: `[${now}] FraudShield detected ${incident.tier} threat. Score: ${incident.risk_score}/100. LLM: ${llmSummary}` } }];"
      },
      "id": "node-merge",
      "name": "LLM + Incident Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-critical", "leftValue": "={{ $json.tier }}", "rightValue": "CRITICAL", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-critical",
      "name": "CRITICAL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 160]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst baseUrl = 'http://localhost:5678/webhook/fraudshield-approval';\nconst approveUrl = `${baseUrl}?incident_id=${d.incident_id}&approved=true&prediction_id=${d.prediction_id}`;\nconst rejectUrl  = `${baseUrl}?incident_id=${d.incident_id}&approved=false&prediction_id=${d.prediction_id}`;\nconst indicatorsList = (d.top_indicators || []).map(i => `<li style='margin:4px 0;color:#333'>${i}</li>`).join('');\nconst html = `<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style='font-family:Segoe UI,Arial,sans-serif;max-width:600px;margin:0 auto;background:#f5f5f5;padding:20px'><div style='background:#00395d;color:white;padding:20px;border-radius:8px 8px 0 0'><h1 style='margin:0;font-size:22px'>🚨 CRITICAL Fraud Alert</h1><p style='margin:8px 0 0;opacity:0.8'>FraudShield AI — Barclays Incident Response</p></div><div style='background:white;padding:20px;border-radius:0 0 8px 8px'><p><strong>Incident:</strong> ${d.incident_id} | <strong>Score:</strong> ${d.risk_score}/100 | <strong>Tier:</strong> ${d.tier}</p><p><strong>AI Summary:</strong> ${d.llm_summary}</p><div style='text-align:center;margin-top:24px'><a href='${approveUrl}' style='background:#dc3545;color:white;padding:14px 32px;border-radius:6px;text-decoration:none;font-weight:700;margin-right:12px'>QUARANTINE EMAIL</a><a href='${rejectUrl}' style='background:#28a745;color:white;padding:14px 32px;border-radius:6px;text-decoration:none;font-weight:700'>MARK AS SAFE</a></div></div></body></html>`;\nreturn [{ json: { ...d, approval_email_html: html, approve_url: approveUrl, reject_url: rejectUrl } }];"
      },
      "id": "node-build-email",
      "name": "Build Approval Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 80]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst indicators = (d.top_indicators || []).slice(0, 3).join(' | ');\nreturn [{ json: { ...d, slack_message: `*HIGH Risk Email Detected*\\n*Score:* ${d.risk_score}/100  *Tier:* ${d.tier}\\n*Verdict:* ${d.verdict}  *Action:* ${d.outlook_action}\\n*AI Summary:* ${d.llm_summary}\\n*Top Indicators:* ${indicators}\\n*Incident ID:* ${d.incident_id}`, notification_type: 'HIGH' } }];"
      },
      "id": "node-build-high-notif",
      "name": "Build HIGH Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 280]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log('\\n' + '='.repeat(60));\nconsole.log('🚨  CRITICAL INCIDENT — ANALYST ACTION REQUIRED');\nconsole.log('='.repeat(60));\nconsole.log('Incident ID  : ' + d.incident_id);\nconsole.log('Risk Score   : ' + d.risk_score + '/100');\nconsole.log('Tier         : ' + d.tier);\nconsole.log('Verdict      : ' + d.verdict);\nconsole.log('LLM Summary  : ' + d.llm_summary);\nconsole.log('-'.repeat(60));\nconsole.log('Open analyst_dashboard.html and enter the EXECUTION ID to approve/reject');\nconsole.log('='.repeat(60) + '\\n');\nreturn [{ json: { ...d, notification_status: 'logged_to_console' } }];"
      },
      "id": "node-send-email",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 80]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log('=== HIGH RISK NOTIFICATION ===');\nconsole.log('Incident ID :', d.incident_id);\nconsole.log('Tier        :', d.tier, '| Score:', d.risk_score + '/100');\nconsole.log('Verdict     :', d.verdict);\nconsole.log('LLM Summary :', d.llm_summary);\nconsole.log('Indicators  :', (d.top_indicators||[]).join(' | '));\nconsole.log('==============================');\nreturn [{ json: { ...d, notification_status: 'logged_for_demo', notification_type: 'HIGH' } }];"
      },
      "id": "node-slack",
      "name": "Log HIGH Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 280]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "node-wait",
      "name": "Wait for Human Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1840, 80],
      "webhookId": "fraudshield-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-approved", "leftValue": "={{ $json.query.approved }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-approved",
      "name": "Analyst Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2060, 80]
    },
    {
      "parameters": {
        "jsCode": "const incident = $('LLM + Incident Log').first().json;\nconst now = new Date().toISOString();\nreturn [{ json: { ...incident, action_taken: 'QUARANTINE_CONFIRMED', analyst_decision: 'QUARANTINE', analyst_decision_at: now, feedback_for_model: 'PHISHING', audit_trail: incident.audit_trail + ` [${now}] Human analyst APPROVED quarantine.`, feedback_payload: { prediction_id: incident.prediction_id, user_verdict: 'PHISHING', model_verdict: incident.verdict, model_score: incident.risk_score, notes: `n8n: analyst confirmed QUARANTINE for ${incident.incident_id}` } } }];"
      },
      "id": "node-quarantine",
      "name": "Quarantine Confirmed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 0]
    },
    {
      "parameters": {
        "jsCode": "const incident = $('LLM + Incident Log').first().json;\nconst now = new Date().toISOString();\nreturn [{ json: { ...incident, action_taken: 'FALSE_POSITIVE', analyst_decision: 'SAFE', analyst_decision_at: now, feedback_for_model: 'LEGITIMATE', audit_trail: incident.audit_trail + ` [${now}] Human analyst REJECTED — false positive.`, feedback_payload: { prediction_id: incident.prediction_id, user_verdict: 'LEGITIMATE', model_verdict: incident.verdict, model_score: incident.risk_score, notes: `n8n: analyst marked FALSE POSITIVE for ${incident.incident_id}` } } }];"
      },
      "id": "node-false-positive",
      "name": "Mark False Positive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log('=== FEEDBACK: PHISHING CONFIRMED ===');\nconsole.log(JSON.stringify(d.feedback_payload, null, 2));\nreturn [{ json: { ...d, feedback_status: 'logged' } }];"
      },
      "id": "node-feedback-quarantine",
      "name": "Send Feedback — Phishing Confirmed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 0]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log('=== FEEDBACK: FALSE POSITIVE ===');\nconsole.log(JSON.stringify(d.feedback_payload, null, 2));\nreturn [{ json: { ...d, feedback_status: 'logged' } }];"
      },
      "id": "node-feedback-fp",
      "name": "Send Feedback — False Positive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst now = new Date().toISOString();\nconsole.log('=== FraudShield Audit ===');\nconsole.log(JSON.stringify({ incident_id: d.incident_id, tier: d.tier, risk_score: d.risk_score, action_taken: d.action_taken, analyst_decision: d.analyst_decision, llm_summary: d.llm_summary, audit_trail: d.audit_trail }, null, 2));\nreturn [{ json: { ...d, final_audit_at: now, workflow_complete: true } }];"
      },
      "id": "node-audit-quarantine",
      "name": "Final Audit — Quarantine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 0]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst now = new Date().toISOString();\nconsole.log('=== FraudShield False Positive Logged ===');\nconsole.log(JSON.stringify({ incident_id: d.incident_id, action_taken: d.action_taken, audit_trail: d.audit_trail, retraining_note: 'Correction queued for model retraining' }, null, 2));\nreturn [{ json: { ...d, final_audit_at: now, workflow_complete: true, retraining_queued: true } }];"
      },
      "id": "node-audit-fp",
      "name": "Final Audit — False Positive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received', incident_id: $('Enrich Payload').first().json.incident_id, tier: $('Enrich Payload').first().json.tier, workflow: 'activated', message: 'FraudShield incident response workflow triggered' }) }}",
        "options": {}
      },
      "id": "node-respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [300, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'workflow_complete', action: $json.action_taken, incident_id: $json.incident_id, decision: $json.analyst_decision, message: 'Incident response workflow completed' }) }}",
        "options": {}
      },
      "id": "node-respond-quarantine",
      "name": "Respond — Quarantine Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2900, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'workflow_complete', action: $json.action_taken, incident_id: $json.incident_id, decision: $json.analyst_decision, message: 'False positive marked and queued for retraining' }) }}",
        "options": {}
      },
      "id": "node-respond-fp",
      "name": "Respond — False Positive Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2900, 200]
    }
  ],
  "connections": {
    "FraudShield Webhook": { "main": [[{ "node": "Enrich Payload", "type": "main", "index": 0 }, { "node": "Respond 200 OK", "type": "main", "index": 0 }]] },
    "Enrich Payload": { "main": [[{ "node": "Risk >= 30?", "type": "main", "index": 0 }]] },
    "Risk >= 30?": { "main": [[{ "node": "LLM + Incident Log", "type": "main", "index": 0 }], [{ "node": "Log Quietly", "type": "main", "index": 0 }]] },
    "LLM + Incident Log": { "main": [[{ "node": "CRITICAL?", "type": "main", "index": 0 }]] },
    "CRITICAL?": { "main": [[{ "node": "Build Approval Email", "type": "main", "index": 0 }], [{ "node": "Build HIGH Notification", "type": "main", "index": 0 }]] },
    "Build Approval Email": { "main": [[{ "node": "Send Approval Email", "type": "main", "index": 0 }]] },
    "Send Approval Email": { "main": [[{ "node": "Wait for Human Approval", "type": "main", "index": 0 }]] },
    "Build HIGH Notification": { "main": [[{ "node": "Log HIGH Alert", "type": "main", "index": 0 }]] },
    "Wait for Human Approval": { "main": [[{ "node": "Analyst Approved?", "type": "main", "index": 0 }]] },
    "Analyst Approved?": { "main": [[{ "node": "Quarantine Confirmed", "type": "main", "index": 0 }], [{ "node": "Mark False Positive", "type": "main", "index": 0 }]] },
    "Quarantine Confirmed": { "main": [[{ "node": "Send Feedback — Phishing Confirmed", "type": "main", "index": 0 }]] },
    "Mark False Positive": { "main": [[{ "node": "Send Feedback — False Positive", "type": "main", "index": 0 }]] },
    "Send Feedback — Phishing Confirmed": { "main": [[{ "node": "Final Audit — Quarantine", "type": "main", "index": 0 }]] },
    "Send Feedback — False Positive": { "main": [[{ "node": "Final Audit — False Positive", "type": "main", "index": 0 }]] },
    "Final Audit — Quarantine": { "main": [[{ "node": "Respond — Quarantine Complete", "type": "main", "index": 0 }]] },
    "Final Audit — False Positive": { "main": [[{ "node": "Respond — False Positive Complete", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "4.0.0",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "fraudshield-hack-o-hire" },
  "id": "fraudshield-incident-response-v4",
  "tags": [{ "createdAt": "2026-03-25", "name": "FraudShield" }]
}